In [4]:
from itertools import combinations

data = """...#......
.......#..
#.........
..........
......#...
.#........
.........#
..........
.......#..
#...#.....""".split('\n')

with open('puzzle_input.txt') as f:
    data = [x.strip('\n') for x in f.readlines()]
print(len(data[0]), len(data))
print(len(data[0]), len(data))


col_indexes = []
for colidx, val in enumerate(data[0]):
    # print(-colidx-1)
    col = [row[colidx] for row in data]
    # print(col)
    if all([x=='.' for x in col]):
        col_indexes.append(colidx)

col_indexes
for rowindex, row in enumerate(data):
    newrow = [x for x in row]
    for colindex in col_indexes[::-1]:
        # print(colindex)
        newrow.insert(colindex, '.')
    # print("".join(newrow))
    # print(len(newrow))
        data[rowindex] = "".join(newrow)

# can't alter the strings in place... 
row_indexes = []
# current = 1
#newdata = []
for idx, row in enumerate(data):
    # print(len(row))
    if all([x=='.' for x in row]):
        row_indexes.append(idx)


for num in row_indexes[::-1]:
    data.insert(num, '.'*len(data[0]))
    # newrow = [x for x in row]
    # for colindex in col_indexes[::-1]:
        # print(colindex)
        # newrow.insert(colindex, '.')
    # print("".join(newrow))
    # print(len(newrow))
        # data[rowindex] = "".join(newrow)

grid = [[x for x in y] for y in data]
# print(len(grid), len(grid[0]))

galaxy_coords = list()


for x, row in enumerate(grid):
    for y, col in enumerate(row):
        if data[x][y] != '.':
            galaxy_coords.append(((x+1), (y+1)))
galaxy_coords

from itertools import combinations
len(galaxy_coords)
len(list(combinations(galaxy_coords, 2)))
shortest_distance_sum = 0
for pair in combinations(galaxy_coords, 2):
    distance = abs(pair[0][0] - pair[1][0]) + abs(pair[0][1] - pair[1][1])
    # print(f'pair is {pair} distance is {distance}')
    shortest_distance_sum += distance

shortest_distance_sum

#9312968 is correct

140 140
140 140

9312968

# Day 11 Part 2

In [ ]:
is there a mathematical approach to solving this? Obviously.

In [7]:
import pandas as pd

with open('puzzle_input.txt') as f:
    data = [x.strip('\n') for x in f.readlines()]

pd.DataFrame([x for x in data])

                                                     0
0    .................................................
1    ............................#................#...
2    ....#...............................#............
3    ................#.....#..........................
4    ..........................................#......
..                                                 ...
135  .....................#...........................
136  ......................................#..........
137  ..#..............................................
138  ..........................#......................
139  ......#.........#.................#..............

[140 rows x 1 columns]

In [3]:

# output = dict()
# for galaxy in galaxy_coords:
#     # total_distance = 0
#     min_distance = None
#     for other_galaxy in galaxy_coords:
#         if other_galaxy != galaxy:
#             manhattan_distance = abs(galaxy_coords[galaxy][0] - galaxy_coords[other_galaxy][0]) + abs(galaxy_coords[galaxy][1] - galaxy_coords[other_galaxy][1])
#             # total_distance += manhattan_distance
#             if min_distance == None:
#                 min_distance = manhattan_distance
#             elif manhattan_distance < min_distance:
#                 min_distance = manhattan_distance
#             else:
#                 pass
#     output[galaxy] =min_distance#,  total_distance,